description.txt

Servers/
RemoteSystemsTempFiles/
.recommenders/
.metadata/

sh-DAO-module/.settings
sh-DAO-module/target
sh-DAO-module/.classpath
sh-DAO-module/.project

sh-domain-module/.settings
sh-domain-module/target
sh-domain-module/.classpath
sh-domain-module/.project

sh-parent-module/.settings
sh-parent-module/target
sh-parent-module/.classpath
sh-parent-module/.project

sh-service-module/.settings
sh-service-module/target
sh-service-module/.classpath
sh-service-module/.project

sh-web-module/.settings
sh-web-module/target
sh-web-module/.classpath
sh-web-module/.project